<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
<div class="container">
    <div class="notification is-primary">
        欢迎访问！

    </div>
    <div class="">
        <h3 class="title">请登录</h3>
        <form class="box">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" placeholder="e.g. alex@example.com">
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="********">
                </div>
            </div>

            <button class="button is-primary">Sign in</button>
        </form>
    </div>
</div>
</body>
</html>